<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
<head>
    <meta charset="UTF-8">
    <title>Movie Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/sticky-footer.css">
    <style type="text/css">
        .container {
            max-width: 900px;
        }
    </style>
</head>
<body>

    <div class="header">
        <div class="container">
            <div class="page-header">
                <h1><a href="#/">Movie App</a></h1>
                <p class="lead">Your Resource for Movie Data</p>
            </div>
            <div ng-controller="SearchController as vm">
                <form ng-submit="vm.search()" class="form-inline-lg">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Movie title" ng-model="vm.query">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="vm.search()">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div ng-view="">

        </div>
    </div>

    <div class="footer">
        <div class="container">
            <p class="text-muted">Mihai Fleseriu, 2016, MIT</p>
        </div>
    </div>

    <script type="text/javascript" src="../lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="../lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="omdb/service.js"></script>
    <script type="text/javascript" src="movie-app/app.js"></script>
    <script type="text/javascript" src="movie-app/search.controller.js"></script>
    <script type="text/javascript" src="movie-app/results.controller.js"></script>
</body>
</html>